<% include header%>
	<style>
		body{
			background-color: white;
			color:black;
		}
	</style>
<center>
	<img src="yp.jpg" width="400" height="400"><br>
	<p>Yash Pradhan</p><p>Front - End Developer</p><br>
	<img src="ck.jpg" width="400" height="400"><br>
	<p>Yash Pradhan</p><p>Full Stack Developer</p>
</center>