<% include header%>
<h1>Hardware projects currently available for purchase</h1>
<% projects.forEach(function(project){ %>
    <h1><%= project.title %></h2>
    <h2><%=project.price%></h2>
    <h3>Submitted By <%=project.author.username%></h3>
    <a href="/projects/<%= project._id %>">More info!</a>
<% }); %>