<% include header%>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to MacroHard Projects!</h1>
            <p>Top projects throughout the Globe!!</p>
            <p class="btn btn-primary btn-lg"><a href="/Softprojects" style="color:white;">Software Projects</a></p>
            <p class="btn btn-primary btn-lg"><a href="/Hardprojects" style="color:white;">Hardware Projects</a></p>
            <p class="btn btn-primary btn-lg"><a href="/projects/new" style="color:white;">Add your project!</a></p>
        </div>
    </header>
</div>
